@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column div {
  flex: 1;
  border: 1px solid blue;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.two-column.reverse {
  flex-direction: row-reverse;
}

h1 {
  font-size: 40px;
  font-family: 'Source-sans-pro';
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .two-column,
  .two-column.reverse {
    flex-direction: column;
  }
}
